<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
     <div id="container">
      <nav class="navbar">
          <a href="https://helen8297.github.io/Helensfirstgithub/index.html" class="logo">
            <img src="Media/My schoolofcode character.png" alt="My SchoolOfCode character" style="width:50px;">
          </a>
        <ul class="nav-links">
          <li><a href="index.html">Home</a></li>
          <li><a href="posts.html">Posts</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      {{ content }}
     </div>
    
     <footer>
       <p>This is my footer. Does it work?</p>
     </footer>
    
    
    
    
    
  </body>
</html>